/* Header Section */
.link a {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    text-decoration: none;
    color: rgb(46, 47, 66)
}

header nav ul :hover{
    color: rgb(64, 75, 191);
    
    
}

.info a {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-style: normal;
    text-decoration: none;
    color: rgb(46, 47, 66)
}

.web {
    color: rgb(77, 90, 229);
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
}

.studio {
    color: rgb(46, 47, 66);
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
}

/* Hero Section */
.hero {
    background-color: rgb(46, 47, 66);
    color: white;
    text-align: center;
}

section button {
    background-color: rgb(77, 90, 229);
    color: white;
    border-width: 0;
    border-radius: 4px;
}

/* 1st Section */
.features h3 {
    color: rgb(46, 47, 66);
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}

.features p {
    font-weight: 400;
    color: rgb(67, 68, 85)
}

/* 3rd Section */
.team {
    background-color: rgb(244, 244, 253);
    color: rgb(46, 47, 66);
}

.designer h3 {
    text-align: center;
    color: rgb(46, 47, 66);
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}

.designer p {
    text-align: center;
    font-weight: 400;
    color: rgb(67, 68, 85)
}

ul {
    list-style-type: none;
    padding: 0;
}

h2 {
    text-align: center;
    color: rgb(46, 47, 66);
}

/* Footer Section */
footer {
    background-color: rgb(46, 47, 66);
    color: rgb(244, 244, 253)
}

footer .studio {
    color: rgb(244, 244, 253);
    font-family: 'Raleway', sans-serif;
    ;
    font-weight: 800;
}

footer a {
    text-decoration: none;
}